
.img1 {
    background-image: url('../../img/img1.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    padding: 1.52em;
}

.landingName {
    margin-top: 7em;
}

.above {
    margin-top: 20px;
}

.section {
    display: flex;
}
.secA {
    background: #eeeeee;
}
.title {
    font-size: 3em;
}

.subtitle {
    color: dimgray;
    display: block;
    font-weight: 300;
}

.headingColor {
    color: #3b5998;
}

.pColor {
    color: rgb(20, 8, 8);
    font-weight: 300;
    background: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}

.aboutMe,
.mySkills,
.myEducation {
    display: flex;
    text-align: center;
    justify-content: center;
}

.skills {
    text-align: center;
    justify-content: center;
}

.footer {
    background-color: #3273dc;
    color: aliceblue;
}

.contact {
    justify-content: center;
    border: solid 1px whitesmoke;
    border-bottom: solid 2px whitesmoke;
    margin: auto;
    margin-top: 10px;
}
